<%- include('./templates/header') %>
<%- include('./templates/navbar') %>
<!-- Teacher -->
<div class="d-flex flex-colums-align-items-center">
    <div class="d-flex flex-wrap justify-content-start">
        <% if(userPosts.length > 0 ){ %>
            <% userPosts.forEach(post=> { %>
                <div class="card m-3" style="width: 20rem;">
                    <div class="card-body">
                        <h5 class="card-title"><%= post.title %></h5> 
                        <p class="card-text"><%=post.content %></p>
                        <p class="card-text">
                            Crée le <%= post.created_at.toLocaleDateString() %> à <%= post.created_at.toLocaleTimeString() %>
                        </p>
                        <p class="card-text">
                            Updated le <%= post.created_at.toLocaleDateString() %> à <%= post.updated_at.toLocaleTimeString() %>
                        </p>
                    </div>
                    <div class="card-footer d-flex justify-content-center">
                        <a href="/posts/edit/<%= post._id %>" class="btn btn-warning m-2">Modifier</a>
                        <a href="/posts/delete/<%= post._id %>" class="btn btn-danger m-2">Supprimer</a>
                    </div>
                </div>
            <% }); %>
        <% }else{ %>
            <h2>Aucun post</h2>
            <a href="/posts/add" class="btn btn-primary mt-3">Creer ton premier poste !</a> 
        <% }%>
    </div>
    <!-- bouton pour supprimer ou modifier-->

    
</div>


<%- include('./templates/footer')%>